<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fins-Fintech Wealth Tool</title>
    <!-- Bootstrap CSS link -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        /* Set the height of the body to 100% for Sticky Footer */
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
        /* Main Content Wrapper */
        .content {
            flex: 1;
        }
        .navbar-nav .nav-link:hover {
            border-radius: 0.375rem; /* You can adjust the value to control the level of rounding */
        }
        
        /* Center the forms vertically */
        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    </style>
</head>
<body>

<!--Header JS reference-->
<script src="{{url_for('static', filename='js/header.js')}}"></script>
<script>
    const name = "{{ name }}";
    generateHeader(name);
</script>

<!--Navbar JS reference-->
<script src="{{url_for('static', filename='js/navbar.js')}}"></script>
<script>
    generateNavbar('/tools')
</script>

<!-- Content -->
<div class="container mx-auto mt-2">
    <a href="{{ url_for('tools') }}" class="btn btn-outline-secondary btn-icon" role="button">
        <span class="oi oi-arrow-left" aria-hidden="true"></span> Back
    </a>
</div>
<div class="content text-center">
    <div class="container mx-auto">
        <div class="card mt-3">
            <div class="card-body">
                <p>This is a simplified capital gains calculator which should give an insight into amounts that may or may not be taxable in the UK.
                    All calculations should be taken as indicators, not as any sort of advice or confirmation. Please consult the gov website for more detailed information.
                </p>
                {% if capital_gains_content %}
                    <p>{{ capital_gains_content }}</p>
                {% endif %}
                <!-- Capital Gains Form -->
                <div id="capitalGainsFormContent" class="card-body">
                    <form method="POST" action="{{ url_for('capitalGainsForm') }}">
                        {{ capital_gains_calculator_form.hidden_tag() }}

                        <div class="form-group">
                            <label for="purchase_price">Purchase Price</label>
                            {{ capital_gains_calculator_form.purchase_price(class="form-control", id="purchase_price") }}
                        </div>

                        <div class="form-group">
                            <label for="sale_price">Sale Price</label>
                            {{ capital_gains_calculator_form.sale_price(class="form-control", id="sale_price") }}
                        </div>

                        <div class="form-group">
                            <label for="holding_period">Holding Period (Years)</label>
                            {{ capital_gains_calculator_form.holding_period(class="form-control", id="holding_period") }}
                        </div>

                        <div class="form-group">
                            <label for="cost_of_improvements">Cost of Improvements</label>
                            {{ capital_gains_calculator_form.cost_of_improvements(class="form-control", id="cost_of_improvements") }}
                        </div>

                        <div class="form-check">
                            {{ capital_gains_calculator_form.used_as_business(class="form-check-input", id="used_as_business") }}
                            <label class="form-check-label" for="used_as_business">Was a room used for a desk for business or a lodger in a single room?</label>
                        </div>

                        <div class="form-check">
                            {{ capital_gains_calculator_form.sq_metres(class="form-check-input", id="sq_metres") }}
                            <label class="form-check-label" for="sq_metres">Is the property over 5000 square meters, including the buildings?</label>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="bg-dark text-white text-center p-2 mt-auto">
    <p>&copy; 2024 Fins-Fintech</p>
</footer>

