<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fins-Fintech Wealth Tool</title>
    <!-- Bootstrap CSS link -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="{{url_for('static', filename='js/stockAPI.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/newStyle.css') }}">
    

</head>
<body>

<!--Header JS reference-->
<script src="{{url_for('static', filename='js/header.js')}}"></script>
<script>
    const name = "{{ name }}";
    generateHeader(name);
</script>

<!--Navbar JS reference-->
<script src="{{url_for('static', filename='js/navbar.js')}}"></script>
<script>
    generateNavbar()
</script>

<!-- Content -->
<div class="content bg-custom text-custom p-3">
    <div class="container mx-auto">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-container">
                    <ul class="flash-messages">
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
        <div id="timeoutMessage"></div>
        <div class="row">
            <div class="col-md-8">
                <!-- Main Content -->
                <section class="text-center mt-4">
                    <h1 class="welcome-heading">Welcome, {{name}}, Please Enjoy The Website!</h1>
                    <h4>Credits: £{{total_credits}}</h4>
                    <p>This is the total number of credits you told us about for a yearly period</p>
                    <h4>Assets: £{{total_assets}}</h4>
                    <p>This is the total value of all the assets you have told us about</p>
                    <div id="dashboardChartContainer" class="bg-custom-dark rounded">
                        <canvas id="dashboardChart"></canvas>
                    </div>
                    <button id="colorModeButton" class="btn btn-custom bg-custom text-custom">Switch Color Mode</button>
                </section>
            </div>
            <div class="col-md-4">
                <!-- Stock Information Column -->
                <section class="text-center mt-4">
                    <div id="aapl-stock-info"></div>
                    <!--<div id="nspi-stock-info"></div>-->
                    <div id="nvda-stock-info"></div>
                    <!--<div id="test-stock"></div>-->
                    <!-- <div id="msft-stock-info"></div> -->
                </section>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <section class="text-center">
                    <h5>First time here?</h5>
                    <p>
                        This tool is designed to help you gain insights into your financial situation. To do this there are pages dedicated to your outgoings and assets
                        this is to give you a view of how much you spend monthly and yearly. We have a page dedicated to showing your projected asset value in a 10 year window
                        this is designed to give you perspective on how much your assets (as entered on the asset form) could be worth! Further, we offer transaction tracking!
                        Due to ethical and practical issues we are not accessing real banking data, this is primarily because due to issues with being able to provide adequate 
                        safety protocols for the accessed banking data. Click <a href="https://truelayer.com/reports/open-banking-guide/what-is-open-banking/">here</a> for more information
                        on open banking. So this means that the banking data is simulated. The banking data is generated differently for each individual user
                        but all follow a similar pattern. Finally, our finance tools are designed to give you a simplified view of some of the keys area of life, such as income tax
                        and retirement savings. Both of these areas are a huge part of a persons finances.
                    </p>
                </section>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

<script>
    const labels = {{ Labels | tojson}};

    const data = {
        labels: labels,
        datasets: [{
            label: 'Asset Value',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: {{ data | tojson}},
        }]
    };

    const config = {
    type: 'line',
    data: data,
    options: {
            maintainAspectRatio: false,
            scales: {
                x: {
                    display: true,
                    title: {
                        display: true,
                        text: 'Month' // X-axis label
                    },
                    ticks: {
                        callback: function(value, index, values) {
                            // Display label for every 20th data point
                            if (index % 20 === 0) {
                                return value;
                            } else {
                                return ''; // Hide other labels
                            }
                        }
                    }
                },
                y: {
                    display: true,
                    title: {
                        display: true,
                        text: 'Asset Value'
                    }
                }
            }
        }
    };


    const myChart = new Chart(
        document.getElementById('dashboardChart'),
        config
    );

    // Function to toggle between color modes
    function toggleColorMode() {
        // Get the <link> element that refers to the CSS file
        var cssLink = document.querySelector('link')[0];

        // Check if the current stylesheet is the light mode or dark mode
        if (cssLink.href.includes("newStyle.css")) {
            // If it's light mode, switch to dark mode
            cssLink.href = "{{ url_for('static', filename='css/darkStyle.css') }}";
        } else {
            // If it's dark mode, switch to light mode
            cssLink.href = "{{ url_for('static', filename='css/newStyle.css') }}";
        }
    }

    // Add click event listener to the button
    document.getElementById("colorModeButton").addEventListener("click", function() {
        // Call the toggleColorMode function when the button is clicked
        toggleColorMode();
    });
</script>

<!-- Footer -->
<footer class="bg-dark text-white text-center p-2 mt-auto">
    <p>&copy; 2024 Fins-Fintech</p>
</footer>

</body>
</html>
