<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fins-Fintech Wealth Tool</title>
    <!-- Bootstrap CSS link -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/newStyle.css') }}">
</head>
<body>

<!--Header JS reference-->
<script src="{{url_for('static', filename='js/header.js')}}"></script>
<script>
    const name = "{{ name }}";
    generateHeader(name);
</script>

<!--Navbar JS reference-->
<script src="{{url_for('static', filename='js/navbar.js')}}"></script>
<script>
    generateNavbar('/tools')
</script>

<!-- Content -->
<div class="container mx-auto mt-2">
    <a href="{{ url_for('tools') }}" class="btn btn-outline-secondary btn-icon" role="button">
        <span class="oi oi-arrow-left" aria-hidden="true"></span> Back
    </a>
</div>

<div class="content bg-custom text-custom text-center">
    <div class="container mx-auto">
        <div class="card bg-custom text-custom mt-3 mb-3">
            <div class="card-body">
                <h1 class="tools-heading">Income Tax Calculator!</h1>
                <p>
                    This form is designed to give a simplified oversight of how much income tax you would pay based on the following position. Blindness and over state-pension age 
                    are asked about as these can affect your personal allowance. Your personal allowance determines how much of your income is not subject to tax. 
                </p>
                {% if tax_content and user_finances%}
                    <div class="card mx-auto mt-3 border border-dark rounded bg-custom text-custom"> <!-- Added 'card' class -->
                        <div class="card-body">
                            <h5>{{ tax_content }}</h5>
                            <h4>The table below shows a breakdown of tax brackets in the UK for 2024/2025</h4>
                            <small><p>Information about tax brackets sourced from <a href="https://www.moneysavingexpert.com/banking/tax-rates/#:~:text=For%20the%202024%2F25%20tax%20year%2C%20if%20you%20live%20in,once%20earnings%20hit%20%C2%A3100%2C000).">here</a>. The info sourced is for the tax year 2024/2025. The national insurance is calculated based on the changes that incurred on the 6th of April 2024.</p></small>
                            <table border="1" class="mx-auto">
                                <tr>
                                    <th>This is a table showing the 2024/25 Tax brackets in England, Wales and Northern Ireland.</th>
                                </tr>
                                <tr>
                                    <th>Your earnings (Applicable if you live in England, Wales or Northern Ireland</th>
                                    <th>Tax Rate</th>
                                </tr>
                                <tr>
                                    <td>
                                        <h6>Under your personal allowance (PA)</h6>
                                        <small>For most this allowance is: £12,570</small>
                                    </td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6>Between PA and PA + £37,000 (basic rate)</h6>
                                        <small>For most this range will be over £12,570 to £50,270</small>
                                    </td>
                                    <td>20%</td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6>Between PA + £37,701 and £125,140 (higher rate)</h6>
                                        <small>For most this range will be over £50,271 to £125,140<sup>1</sup></small>
                                    </td>
                                    <td>40%</td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6>Over £125,140 (additional rate)</h6>
                                        <small></small>
                                    </td>
                                    <td>45%</td>
                                </tr>
                            </table>
                            <small><p><sup>1</sup> Personal allowance drops by £1 for every £2 earned between £100,000 and £125,140.</p></small>
                            <div class="row justify-content-center">
                                <div class="col-md-4 d-flex bg-custom-light">
                                    <canvas id="financeChart" width="400" height="400"></canvas>
                                </div> 
                            </div>
                        </div>
                    </div>
                {% endif %}
                <!-- Income Tax Form -->
                <div id="incomeTaxFormContent" class="card-body">
                    <form method="POST" action="{{ url_for('incomeTaxCalculator') }}">
                        {{ UK_income_tax_calculator_form.hidden_tag() }}  <!-- Include CSRF token -->
                        <div>
                            {{ UK_income_tax_calculator_form.yearly_earnings.label }}
                        </div>
                        <div class="mb-3">
                            {{ UK_income_tax_calculator_form.yearly_earnings(value=UK_income_tax_calculator_form.yearly_earnings.data) }}
                        </div>
                        <div>
                            {{ UK_income_tax_calculator_form.over_state_pension_age.label }}
                        </div>
                        <div class="mb-3">
                            {{ UK_income_tax_calculator_form.over_state_pension_age(value=UK_income_tax_calculator_form.over_state_pension_age.data) }}
                        </div>
                        <div>
                            {{ UK_income_tax_calculator_form.blind.label }}
                        </div>
                        <div class="mb-3">
                            {{ UK_income_tax_calculator_form.blind(value=UK_income_tax_calculator_form.blind.data) }}
                        </div>
                        <div class="text-center"> <!-- Center the submit button -->
                            <button type="submit" class="btn btn-custom bg-custom text-custom">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <script>
        var ctx = document.getElementById('financeChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie', // Set chart type to pie
            data: {
                labels: ['Tax', 'National Insurance', 'Remaining Pay'],
                datasets: [{
                    label: 'Finance Overview',
                    data: {{ user_finances|tojson }},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)', // Red for Tax
                        'rgba(54, 162, 235, 0.2)', // Blue for National Insurance
                        'rgba(0, 100, 0, 0.2)'  // Yellow for Remaining Pay
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(0, 100, 0, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                // Add options if needed
            }
        });
    </script>
</div>

<!-- Footer -->
<footer class="bg-dark text-white text-center p-2 mt-auto">
    <p>&copy; 2024 Fins-Fintech</p>
</footer>
