<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fins-Fintech Wealth Tool</title>
    <!-- Bootstrap CSS link -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/newStyle.css') }}">
</head>
<body>

<!--Header JS reference-->
<script src="{{url_for('static', filename='js/header.js')}}"></script>
<script>
    const name = "{{ name }}";
    generateHeader(name);
</script>

<!--Navbar JS reference-->
<script src="{{url_for('static', filename='js/navbar.js')}}"></script>
<script>
    generateNavbar('/tools')
</script>

<!-- Content -->
<div class="container mx-auto mt-2">
    <a href="{{ url_for('tools') }}" class="btn btn-outline-secondary btn-icon" role="button">
        <span class="oi oi-arrow-left" aria-hidden="true"></span> Back
    </a>
</div>
<div class="content bg-custom text-custom text-center">
    <div class="container mx-auto">
        <div class="card bg-custom text-custom  mt-3 mb-3">
            <div class="card-body">
                <p>There are two options below, the Savings Form Year, determines how many years it will take to reach your goal based on monthly savings. 
                    The other options Savings Form Amount, determines how much you need to save per month to reach your goal in a pre-determined number of years.
                </p>
                <p></p>
                {% if year_content_card %}
                    <p>{{ year_content_card }}</p>
                {% endif %}
                {% if amount_content_card %}
                    <p>{{ amount_content_card }}</p>
                {% endif %}
                <!-- Tabs to toggle between forms -->
                <div class="text-center mb-3">
                    <ul class="nav nav-tabs justify-content-center">
                        <li class="nav-item">
                            <a id="showSavingsFormYear" class="nav-link active">Savings Form Year</a>
                        </li>
                        <li class="nav-item">
                            <a id="showSavingsFormAmount" class="nav-link">Savings Form Amount</a>
                        </li>
                    </ul>
                </div>
                
                <!-- Savings Form Year -->
                <div id="savingsFormYearContent" class="card-body">
                    <form method="POST" action="{{ url_for('savingsForm') }}">
                        {% for field in savings_form_year %}
                            {% if not loop.last %}
                                <div>
                                    {{ field.label }}
                                </div>
                                <div class="mb-3">
                                    {{ field(value=value) }}
                                </div>
                            {% endif %}
                            {% if loop.last %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                        <div class="text-center"> <!-- Center the submit button -->
                            <button type="submit" class="btn btn-custom bg-custom text-custom ">Submit</button>
                        </div>
                    </form>
                </div>

                <!-- Savings Form Amount -->
                <div id="savingsFormAmountContent" class="card-body" style="display: none;">
                    <form method="POST" action="{{ url_for('savingsForm') }}">
                        {% for field in savings_form_amount %}
                            {% if not loop.last %}
                                <div>
                                    {{ field.label }}
                                </div>
                                <div class="mb-3">
                                    {{ field(value=value) }}
                                </div>
                            {% endif %}
                            {% if loop.last %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                        <div class="text-center"> <!-- Center the submit button -->
                            <button type="submit" class="btn btn-custom bg-custom text-custom ">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // JavaScript to toggle between showing the Savings Form Year and Savings Form Amount
    document.getElementById("showSavingsFormYear").addEventListener("click", function() {
        document.getElementById("savingsFormYearContent").style.display = "block";
        document.getElementById("savingsFormAmountContent").style.display = "none";
        // Add active class to the clicked tab and remove from the other tab
        document.getElementById("showSavingsFormYear").classList.add("active");
        document.getElementById("showSavingsFormAmount").classList.remove("active");
    });

    document.getElementById("showSavingsFormAmount").addEventListener("click", function() {
        document.getElementById("savingsFormYearContent").style.display = "none";
        document.getElementById("savingsFormAmountContent").style.display = "block";
        // Add active class to the clicked tab and remove from the other tab
        document.getElementById("showSavingsFormYear").classList.remove("active");
        document.getElementById("showSavingsFormAmount").classList.add("active");
    });
</script>


<!-- Footer -->
<footer class="bg-dark text-white text-center p-2 mt-auto">
    <p>&copy; 2024 Fins-Fintech</p>
</footer>
</body>
</html>
