<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fins-Fintech Wealth Tool</title>
    <!-- Bootstrap CSS link -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        /* Set the height of the body to 100% for Sticky Footer */
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
        /* Main Content Wrapper */
        .content {
            flex: 1;
        }
        .navbar-nav .nav-link:hover {
            border-radius: 0.375rem; /* You can adjust the value to control the level of rounding */
        }
        .chart-container {
            width: 100%;
            /*max-width: 600px; /* Adjust the max-width as needed */
            margin: 0 auto;
            padding: 20px;
            box-sizing: border-box;
        }

        #simulatedGraph {
            width: 100%;
        }

        @media screen and (max-width: 768px) {
            #chartContainer {
                height: 300px; /* Adjust the height for smaller screens */
            }
        }

        @media screen and (min-width: 768px) {
            #chartContainer {
                height: 500px; /* Default height for larger screens */
            }
        }
    </style>
</head>
<body>

<!--Header JS reference-->
<script src="{{url_for('static', filename='js/header.js')}}"></script>
<script>
    const name = "{{ name }}";
    generateHeader(name);
</script>

<!--Navbar JS reference-->
<script src="{{url_for('static', filename='js/navbar.js')}}"></script>
<script>
    generateHeader('/tools')
</script>
<!-- Content -->
<div class="content">
    <div class="container mx-auto">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header" id="savings-heading">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#savings-collapse" aria-expanded="true" aria-controls="savings-collapse">
                                        Savings Tool
                                    </button>
                                </h5>
                            </div>
                            <div id="savings-collapse" class="collapse" aria-labelledby="savings-heading">
                                <div class="card-body">
                                    <form method="POST" action="{{ url_for('tools') }}">
                                        {% for field in savings_form %}
                                            {% if not loop.last %}
                                                <div>
                                                    {{ field.label }}
                                                </div>
                                                <div class="mb-3">
                                                    {{ field(value=value) }}
                                                </div>
                                            {% endif %}
                                            {% if loop.last %}
                                                {{ field }}
                                            {% endif %}
                                        {% endfor %}
                                        {{ field }}
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header" id="retirement-heading">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#retirement-collapse" aria-expanded="true" aria-controls="retirement-collapse">
                                        Retirement Tool
                                    </button>
                                </h5>
                            </div>
                            <div id="retirement-collapse" class="collapse" aria-labelledby="retirement-heading">
                                <div class="card-body">
                                    <form method="POST" action="{{ url_for('tools') }}">
                                        {% for field in retirement_form %}
                                            {% if not loop.last %}
                                                <div>
                                                    {{ field.label }}
                                                </div>
                                                <div class="mb-3">
                                                    {{ field(value=value) }}
                                                </div>
                                            {% endif %}
                                            {% if loop.last %}
                                                {{ field }}
                                            {% endif %}
                                        {% endfor %}
                                        {{ field }}
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header" id="tax-heading">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#tax-collapse" aria-expanded="true" aria-controls="tax-collapse">
                                        Tax Calculator
                                    </button>
                                </h5>
                            </div>
                            <div id="tax-collapse" class="collapse" aria-labelledby="tax-heading">
                                <div class="card-body">
                                    <form method="POST" action="{{ url_for('tools') }}">
                                        {% for field in tax_calculator_form %}
                                            {% if not loop.last %}
                                                <div>
                                                    {{ field.label }}
                                                </div>
                                                <div class="mb-3">
                                                    {{ field(value=value) }}
                                                </div>
                                            {% endif %}
                                            {% if loop.last %}
                                                {{ field }}
                                            {% endif %}
                                        {% endfor %}
                                        {{ field }}
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header" id="capital-gains-heading">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#capital-gains-collapse" aria-expanded="true" aria-controls="capital-gains-collapse">
                                        Capital Gains Calculator
                                    </button>
                                </h5>
                            </div>
                            <div id="capital-gains-collapse" class="collapse" aria-labelledby="capital-gains-heading">
                                <div class="card-body">
                                    <form method="POST" action="{{ url_for('tools') }}">
                                        {% for field in capital_gains_calculator_form %}
                                            {% if not loop.last %}
                                                <div>
                                                    {{ field.label }}
                                                </div>
                                                <div class="mb-3">
                                                    {{ field(value=value) }}
                                                </div>
                                            {% endif %}
                                            {% if loop.last %}
                                                {{ field }}
                                            {% endif %}
                                        {% endfor %}
                                        {{ field }}
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#savings-collapse').on('show.bs.collapse', function () {
            $('#savings-heading button').addClass('collapsed');
        });
        $('#savings-collapse').on('hide.bs.collapse', function () {
            $('#savings-heading button').removeClass('collapsed');
        });

        $('#retirement-collapse').on('show.bs.collapse', function () {
            $('#retirement-heading button').addClass('collapsed');
        });
        $('#retirement-collapse').on('hide.bs.collapse', function () {
            $('#retirement-heading button').removeClass('collapsed');
        });

        $('#tax-collapse').on('show.bs.collapse', function () {
            $('#tax-heading button').addClass('collapsed');
        });
        $('#tax-collapse').on('hide.bs.collapse', function () {
            $('#tax-heading button').removeClass('collapsed');
        });

        $('#capital-gains-collapse').on('show.bs.collapse', function () {
            $('#capital-gains-heading button').addClass('collapsed');
        });
        $('#capital-gains-collapse').on('hide.bs.collapse', function () {
            $('#capital-gains-heading button').removeClass('collapsed');
        });
    });
</script>

<!-- Footer -->
<footer class="bg-dark text-white text-center p-2 mt-auto">
    <p>&copy; 2024 Fins-Fintech</p>
</footer>
</body>
</html>
