<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fins-Fintech Wealth Tool</title>
    <!-- Bootstrap CSS link -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/newStyle.css') }}">
</head>
<body>

<!--Header JS reference-->
<script src="{{url_for('static', filename='js/header.js')}}"></script>
<script>
    const name = "{{ name }}";
    generateHeader(name);
</script>

<!--Navbar JS reference-->
<script src="{{url_for('static', filename='js/navbar.js')}}"></script>
<script>
    generateNavbar('/tools')
</script>
<!-- Content -->
<div class="content bg-custom text-custom">
    <div class="container mx-auto">
        <div class="card bg-custom-dark text-custom mt-3 mb-3">
            <div class="card-body">
                <div class="row mt-3">
                    <div class="col-md-6">
                        <div class="card bg-custom text-custom">
                            <div class="card-header bg-custom text-custom text-center" id="savings-heading">
                                <h5 class="mb-0">
                                    <a href="{{ url_for('savingsForm') }}" class="btn btn-link">
                                        Savings Tool
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card bg-custom text-custom">
                            <div class="card-header bg-custom text-custom text-center" id="retirement-heading">
                                <h5 class="mb-0">
                                    <a href="{{ url_for('retirementForm') }}" class="btn btn-link">
                                        Retirement Tool
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="card bg-custom text-custom">
                            <div class="card-header bg-custom text-custom text-center" id="tax-heading">
                                <h5 class="mb-0">
                                    <a href="{{ url_for('incomeTaxCalculator') }}" class="btn btn-link">
                                        Tax Calculator
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card bg-custom text-custom">
                            <div class="card-header bg-custom text-custom text-center" id="capital-gains-heading">
                                <h5 class="mb-0">
                                    <a href="{{ url_for('capitalGainsForm') }}" class="btn btn-link">
                                        Capital Gains Calculator
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card bg-custom text-custom">
                        <div class="card-header bg-custom text-custom text-center" id="budget-planner-heading">
                            <h5 class="mb-0">
                                <a href="{{ url_for('budgetPlanner') }}" class="btn btn-link">
                                    Budget Planning Tool
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="row mb-3 text-center justify-content-center">
                    <div class="col-md-6">
                        <div>
                            <h4>This section is evolving!</h4>
                            <p>This section is still being worked on! Please use the feedback form to let us know of any features you would like to see!</p>
                            <div class="image-container">
                                <img src="{{ url_for('static', filename='images/thinking person.png') }}" alt="Thinker" id="Thinker" aria-label="Person." class="img-fluid" style="max-width: 110px; max-height: 110px;">
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="bg-dark text-white text-center p-2 mt-auto">
    <p>&copy; 2024 Fins-Fintech</p>
</footer>
</body>
</html>
