<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Information</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <style>
        .faint-grey-line {
            border: none;
            border-top: 1px solid #ccc; /* Grey color */
        }
        #hidden-content {
            display: none;
        }
    </style>
    <div id="header"></div>
    <script src="{{url_for('static', filename='js/header.js')}}"></script>
    <script>
        const name = "{{ name }}";
        generateHeader(name);
    </script>

    <div id="navbar"></div>
    <script src="{{url_for('static', filename='js/navbar.js')}}"></script>
    
    <div class="text-center">
        <p>This is simulated banking page, no real data accessed.</p>
        <button class="btn btn-primary" id="reveal-hidden-content">Login to your bank</button>
    </div>
    <div id="hidden-content">
        <div class="container mx-auto">
            <div class="card mb-4 mt-4">
                <div class="card-header text-center">
                    <h1>Analysis</h1>
                </div>
                
                <div class="card-body">
                    <p class="card-text"><strong>Current card ending balance:</strong> {{ current_account.transactions[-1].balance }}</p>
                    <p class="card-text"><strong>Current card total in:</strong> £{{ current_account.total_in }}</p>
                    <p class="card-text"><strong>Current card total out:</strong> £{{ current_account.total_out }}</p>
                    <p class="card-text"><strong>Current card top merchant:</strong> {{ current_account.top_merchant }}</p>
                    <hr class="faint-grey-line">
                    <p class="card-text"><strong>Current card ending balance:</strong> {{ credit_card.transactions[-1].balance }}</p>
                    <p class="card-text"><strong>Credit card total in:</strong> £{{ credit_card.total_in }}</p>
                    <p class="card-text"><strong>Credit card total out:</strong> £{{ credit_card.total_out }}</p>
                    <p class="card-text"><strong>Credit card top merchant:</strong> {{ credit_card.top_merchant }}</p>
                </div>
            </div>
            <body>
                <canvas id="accountChart" width="400" height="200"></canvas>
                <canvas id="creditChart" width="400" height="200"></canvas>
            </body>
            <!-- Your accounts -->
            <div class="card mb-4 mt-4">
                <div class="card-header text-center">
                    <h1>Your Accounts</h1>
                </div>
                <div class="card-body">
                    <div id="account-accordion">
                        <!-- Current Account -->
                        <div class="card mb-3">
                            <div class="card-header text-center" id="current-account-header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#current-account-collapse" aria-expanded="true" aria-controls="current-account-collapse">
                                        Current Account
                                    </button>
                                </h5>
                            </div>
                            <div id="current-account-collapse" class="collapse" aria-labelledby="current-account-header" data-parent="#account-accordion">
                                <div class="card-body">
                                    <p class="card-text"><strong>Account Number:</strong> {{ current_account.account_number }}</p>
                                    <p class="card-text"><strong>Sort Code:</strong> {{ current_account.sort_code }}</p>
                                    <p class="card-text"><strong>Balance:</strong> {{ current_account.balance }} {{ current_account.currency }}</p>
                                    <p class="card-text"><strong>Account Holder:</strong> {{ current_account.account_holder }}</p>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Credit Card -->
                        <div class="card mb-3">
                            <div class="card-header text-center" id="credit-card-header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#credit-card-collapse" aria-expanded="true" aria-controls="credit-card-collapse">
                                        Credit Card
                                    </button>
                                </h5>
                            </div>
                            <div id="credit-card-collapse" class="collapse" aria-labelledby="credit-card-header" data-parent="#account-accordion">
                                <div class="card-body">
                                    <p class="card-text"><strong>Card Number:</strong> {{ credit_card.card_number }}</p>
                                    <p class="card-text"><strong>Expiry Date:</strong> {{ credit_card.expiry_date }}</p>
                                    <p class="card-text"><strong>Card Holder:</strong> {{ credit_card.card_holder }}</p>
                                    <p class="card-text"><strong>Credit Limit:</strong> {{ credit_card.credit_limit }}</p>
                                    <p class="card-text"><strong>Currency:</strong> {{ credit_card.currency }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Transactions -->
            <div class="card mb-4 mt-4">
                <div class="card-header text-center">
                    <h1>Transactions</h1>
                </div>
                <div class="card-body">
                    <div id="transaction-accordion">
                        <!-- Current Account Transactions -->
                        <div class="card mb-3">
                            <div class="card-header text-center" id="current-account-transaction-header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#current-account-transaction-collapse" aria-expanded="true" aria-controls="current-account-transaction-collapse">
                                        Current Account Transactions
                                    </button>
                                </h5>
                            </div>
                            <div id="current-account-transaction-collapse" class="collapse" aria-labelledby="current-account-transaction-header" data-parent="#transaction-accordion">
                                <div class="card-body">
                                    <ul class="list-group" id="current-account-transactions">
                                        <!-- Render the first ten transactions initially -->
                                        {% for transaction in current_account.transactions[:10] %}
                                            <li class="list-group-item">
                                                <p class="card-text"><strong>Transaction ID:</strong> {{ transaction.transaction_id }}</p>
                                                <p class="card-text"><strong>Date:</strong> {{ transaction.date }}</p>
                                                <p class="card-text"><strong>Amount:</strong> {{ transaction.amount }}</p>
                                                <p class="card-text"><strong>Description:</strong> {{ transaction.description }}</p>
                                                <p class="card-text"><strong>Category:</strong> {{ transaction.category }}</p>
                                                <p class="card-text"><strong>Balance:</strong> {{ transaction.balance }}</p>
                                                {% if transaction.merchant %}
                                                    <p class="card-text"><strong>Merchant:</strong> {{ transaction.merchant.name }}</p>
                                                    <p class="card-text"><strong>Merchant Category:</strong> {{ transaction.merchant.category }}</p>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <!-- "Click for more" button -->
                                    <button class="btn btn-primary mt-3" id="load-more-transactions">Click for more</button>
                                </div>
                            </div>
                        </div>
                        
                        
                        <!-- Credit Card Transactions -->
                        <div class="card mb-3">
                            <div class="card-header text-center" id="credit-card-transaction-header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#credit-card-transaction-collapse" aria-expanded="true" aria-controls="credit-card-transaction-collapse">
                                        Credit Card Transactions
                                    </button>
                                </h5>
                            </div>
                            <div id="credit-card-transaction-collapse" class="collapse" aria-labelledby="credit-card-transaction-header" data-parent="#transaction-accordion">
                                <div class="card-body">
                                    <ul class="list-group" id="credit-card-transactions">
                                        <!-- Render the first ten transactions initially -->
                                        {% for transaction in credit_card.transactions[:10] %}
                                            <li class="list-group-item">
                                                <p class="card-text"><strong>Transaction ID:</strong> {{ transaction.transaction_id }}</p>
                                                <p class="card-text"><strong>Date:</strong> {{ transaction.date }}</p>
                                                <p class="card-text"><strong>Amount:</strong> {{ transaction.amount }}</p>
                                                <p class="card-text"><strong>Description:</strong> {{ transaction.description }}</p>
                                                <p class="card-text"><strong>Category:</strong> {{ transaction.category }}</p>
                                                <p class="card-text"><strong>Balance:</strong> {{ transaction.balance }}</p>
                                                {% if transaction.merchant %}
                                                    <p class="card-text"><strong>Merchant:</strong> {{ transaction.merchant.name }}</p>
                                                    <p class="card-text"><strong>Merchant Category:</strong> {{ transaction.merchant.category }}</p>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <!-- "Click for more" button -->
                                    <button class="btn btn-primary mt-3" id="load-more-credit-card-transactions">Click for more</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Analysis -->
        
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
        // Keep track of the index of the last loaded transaction
        var lastIndexLoaded = 10;

        // Function to load more transactions
        function loadMoreTransactions() {
            var transactions = {{ current_account.transactions|tojson }};
            var remainingTransactions = transactions.length - lastIndexLoaded;
            var transactionsToAdd = Math.min(remainingTransactions, 10); // Load up to 10 transactions
            var transactionsHtml = '';

            // Generate HTML for additional transactions
            for (var i = lastIndexLoaded; i < lastIndexLoaded + transactionsToAdd; i++) {
                var transaction = transactions[i];
                transactionsHtml += '<li class="list-group-item">';
                transactionsHtml += '<p class="card-text"><strong>Transaction ID:</strong> ' + transaction.transaction_id + '</p>';
                transactionsHtml += '<p class="card-text"><strong>Date:</strong> ' + transaction.date + '</p>';
                transactionsHtml += '<p class="card-text"><strong>Amount:</strong> ' + transaction.amount + '</p>';
                transactionsHtml += '<p class="card-text"><strong>Description:</strong> ' + transaction.description + '</p>';
                transactionsHtml += '<p class="card-text"><strong>Category:</strong> ' + transaction.category + '</p>';
                transactionsHtml += '<p class="card-text"><strong>Balance:</strong> ' + transaction.balance + '</p>';
                if (transaction.merchant) {
                    transactionsHtml += '<p class="card-text"><strong>Merchant:</strong> ' + transaction.merchant.name + '</p>';
                    transactionsHtml += '<p class="card-text"><strong>Merchant Category:</strong> ' + transaction.merchant.category + '</p>';
                }
                transactionsHtml += '</li>';
            }

            $('#current-account-transactions').append(transactionsHtml);

            // Update the index of the last loaded transaction
            lastIndexLoaded += transactionsToAdd;

            // Hide the "click for more" button if no more transactions to load
            if (remainingTransactions <= 10) {
                $('#load-more-transactions').hide();
            }
        }

        // Event listener for "click for more" button
        $('#load-more-transactions').click(function() {
            loadMoreTransactions();
        });
    });

    </script>
    <script>
        $(document).ready(function() {
        // Keep track of the index of the last loaded transaction
        var lastIndexLoaded = 10;

        // Function to load more transactions
        function loadMoreCreditTransactions() {
            var transactions = {{ credit_card.transactions|tojson }};
            var remainingTransactions = transactions.length - lastIndexLoaded;
            var transactionsToAdd = Math.min(remainingTransactions, 10); // Load up to 10 transactions
            var transactionsHtml = '';

            // Generate HTML for additional transactions
            for (var i = lastIndexLoaded; i < lastIndexLoaded + transactionsToAdd; i++) {
                var transaction = transactions[i];
                transactionsHtml += '<li class="list-group-item">';
                transactionsHtml += '<p class="card-text"><strong>Transaction ID:</strong> ' + transaction.transaction_id + '</p>';
                transactionsHtml += '<p class="card-text"><strong>Date:</strong> ' + transaction.date + '</p>';
                transactionsHtml += '<p class="card-text"><strong>Amount:</strong> ' + transaction.amount + '</p>';
                transactionsHtml += '<p class="card-text"><strong>Description:</strong> ' + transaction.description + '</p>';
                transactionsHtml += '<p class="card-text"><strong>Category:</strong> ' + transaction.category + '</p>';
                transactionsHtml += '<p class="card-text"><strong>Balance:</strong> ' + transaction.balance + '</p>';
                if (transaction.merchant) {
                    transactionsHtml += '<p class="card-text"><strong>Merchant:</strong> ' + transaction.merchant.name + '</p>';
                    transactionsHtml += '<p class="card-text"><strong>Merchant Category:</strong> ' + transaction.merchant.category + '</p>';
                }
                transactionsHtml += '</li>';
            }

            $('#credit-card-transactions').append(transactionsHtml);

            // Update the index of the last loaded transaction
            lastIndexLoaded += transactionsToAdd;

            // Hide the "click for more" button if no more transactions to load
            if (remainingTransactions <= 10) {
                $('#load-more-credit-card-transactions').hide();
            }
        }

        // Event listener for "click for more" button
        $('#load-more-credit-card-transactions').click(function() {
            loadMoreCreditTransactions();
        });
    });

    </script>
    <script>
        // Script to toggle visibility of hidden content
        $(document).ready(function() {
            $("#reveal-hidden-content").click(function() {
                $("#hidden-content").toggle();
                $(this).hide();
            });
        });
    </script>
    <script>
        // Account Chart
        var accountCtx = document.getElementById('accountChart').getContext('2d');
        var length = account_balances.size()
        var accountChart = new Chart(accountCtx, {
            type: 'line',
            data: {
                labels: [Array.from({length:length}, (_,index) => index + 1)],
                datasets: [{
                    label: 'Account Balances',
                    data: {{ account_balances|tojson }},
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                }]
            },
            options: {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Transactions'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Balance'
                        }
                    }
                }
            }
        });

        // Credit Chart
        var creditCtx = document.getElementById('creditChart').getContext('2d');
        var creditChart = new Chart(creditCtx, {
            type: 'line',
            data: {
                labels: [...Array({{ credit_balances|length }}).keys()].map(x => x + 1),
                datasets: [{
                    label: 'Credit Card Balances',
                    data: {{ credit_balances|tojson }},
                    fill: false,
                    borderColor: 'rgb(255, 99, 132)',
                    tension: 0.1
                }]
            },
            options: {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Transactions'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Balance'
                        }
                    }
                }
            }
        });

        // Ensure the charts are rendered after the data is loaded
        window.onload = function() {
            accountChart.update();
            creditChart.update();
        };
    </script>
</body>
</html>