body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #5cdb95; 
}
/* Main Content Wrapper */
.content {
    flex: 1;
}
.navbar-nav .nav-link:hover {
    border-radius: 0.375rem; /* You can adjust the value to control the level of rounding */
}
.bg-custom {
    background-color: #5cdb95; /* Background color */
}
.bg-custom-dark{
    background-color:#379683;
}

.text-custom {
    color: #05386b; /* Text color */
}
.btn-custom:hover {
    background-color: #379683;
    color: #fff; /* Text color */
}
.flash-messages {
    list-style-type: none;
    padding: 10px;
}

.success {
    background-color: #d4edda; /* Green background color */
    border: 1px solid #c3e6cb; /* Green border color */
    color: #155724; /* Dark green text color */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.danger {
    background-color: #f8d7da; /* Red background color */
    border: 1px solid #f5c6cb; /* Red border color */
    color: #721c24; /* Dark red text color */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.flash-container{
    text-align: center;
}
.options-container {
    display: none;
}
.active {
    color: rgb(12, 97, 22); /* Adjust text color accordingly */
}
.custom-nav .nav-link.active {
    color: rgb(12, 97, 22); /* Text color for active nav link */
    background-color: #379683;
}
.custom-nav .nav-link{
    border: none;
}
.custom-nav {
    border: none; /* Remove border */
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
.chart-container {
    width: 100%;
    /*max-width: 600px; /* Adjust the max-width as needed */
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#simulatedGraph {
    width: 100%;
}

@media screen and (max-width: 768px) {
    #chartContainer {
        height: 300px; /* Adjust the height for smaller screens */
    }
}

@media screen and (min-width: 768px) {
    #chartContainer {
        height: 500px; /* Default height for larger screens */
    }
}
.cardTop {
    border: none;
    box-shadow: none;
}
.faint-grey-line {
    border: none;
    border-top: 1px solid #ccc; /* Grey color */
}
#hidden-content {
    display: none;
}
.navbar-toggler {
    background-color: #379683; /* Set your desired background color */
}
.fade-left {
    opacity: 0;
    animation: fadeInLeft 10s ease-in-out forwards;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}