<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fins-Fintech Wealth Tool</title>
    <!-- Bootstrap CSS link -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{url_for('static', filename='js/script1.js')}}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/newStyle.css') }}">
</head>
<body>

<!-- Header -->
<header class="bg-custom text-custom p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12 mb-md-0 mb-2 text-center text-md-left">
                <!-- Title For the Page-->
                <a href="{{url_for('index')}}"><button class="btn btn-light border-0 bg-custom text-custom btn-custom">Fins-Fintech</button></a>
            </div>
            <div class="col-md-6 col-12 text-center text-md-right">
                <!-- "Please Log in or Register" Button with Invisible Box -->
                <a href="{{url_for('login')}}"><button class="btn btn-light border-0 bg-custom text-custom btn-custom">Log in/Register Here!</button></a>
            </div>
        </div>
    </div>
</header>

<!-- Content -->
<div class="content text-custom md-p-3">
    <div class="container bg-custom mx-auto">
        <div class="row">
            <div class="col-md-12">
                <!-- Main Heading -->
                <section class="text-center mt-4">
                    <h1>Welcome to Fins-Fintech!</h1>
                </section>
            </div>
        </div>
        <!-- Row with 3 columns -->
        <div class="row mt-4 text-center justify-content-center">
            <!-- First Column -->
            <div class="col-md-4 d-flex align-items-start">
                <div>
                    <h3>What do we do?</h3>
                    <p>We provide a range of finance tools aimed at making financial awareness as easy as opening your favorite browser!</p>
                    <p>Some of the services we provide include:</p>
                    <ul>
                        <li>Portfolio Projection</li>
                        <li>Finance Calculators</li>
                        <li>Outgoings Management</li>
                        <li>Asset Management</li>
                        <li>Transaction tracking</li>
                    </ul>
                </div>
            </div>
            <!-- Image Column -->
            <div class="col-md-4 d-flex align-items-start order-2 order-md-1">
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/Stock-bar-chart.jpeg') }}" alt="Stock bar chart" id="bar-chart" aria-label="Graphical, woman sat on a computer with a bar chart." class="img-fluid">
                </div>
            </div>
        </div>
        <div class="row mt-4 text-center justify-content-center">
            <div class="col-md-4 d-flex align-items-start order-1 order-md-0">
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/Student thinking.png') }}" alt="Student" id="student" aria-label="Graphical, student with a comical lightbulb above his head." class="img-fluid">
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-start">
                <!-- Second Column -->
                <div>
                    <h3>Who are we?</h3>
                    <p>We are a final year project student studying computer science at the University of Sussex</p>
                    <p>This project is designed to be a wealth management tool in python calculating net worth using the simple formula: Net worth = Assets - Credits</p>
                    <p>This tool aims to enhance financial literacy, in a way that is normally hidden behind paywalls or limited to people who can afford accountants.</p>
                </div>
            </div>
        </div>
        <div class="row mt-4 text-center justify-content-center">
            <!-- Third Column -->
            <div class="col-md-4">
                <h3>Feedback!</h3>
                <p>This tool is still in its early stages of development! Any feedback would be appreciated, on the navbar when you log in there should be a link to a feedback form!</p>
            </div>
        </div>
    </div>
</div>



<!-- Footer -->
<footer class="bg-dark text-white text-center p-2 mt-auto">
    <p>&copy; 2024 Fins-Fintech</p>
</footer>

</body>
</html>
