<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <title>Flask-WTF Form Test</title>
</head>
<body style="background:#CCC"></body>

<body>
    <div class="container">
        <div class="row">
            <div class = "col-lg-6 m-auto">
                <div class="card bg-light mt-5 py-3">
                    <div class="card-title">   
                        <h1>Flask-WTF Form Test</h1>
                        <hr>
                    </div>
                    <div class="card-body">
                        <!--
                        <form method="POST" action="/">
                            {{ form.hidden_tag() }}
                            <p>
                                {{ form.name.label }}<br>
                                {{ form.name(size=20) }}<br>
                                {% for error in form.name.errors %}
                                    <span style="color: red;">{{ error }}</span><br>
                                {% endfor %}
                            </p>
                            <p>
                                {{ form.email.label }}<br>
                                {{ form.email(size=20) }}<br>
                                {% for error in form.email.errors %}
                                    <span style="color: red;">{{ error }}</span><br>
                                {% endfor %}
                            </p>
                            <p>{{ form.submit() }}</p>
                        </form>
                        -->
                        <button onclick=window.location.href='https://computercoursework.tech'>Go to Webpage</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
